.Order{
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
}

.Order ul {
    list-style: none;
    padding: 0;
}

.Order li {
    text-transform: capitalize;
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #ccc;
}